<section class="intro">

    <h1>Start Your <br> Adventure Now!</h1>

</section>

<h2>Add room</h2>
    
    <form method="POST" action="/room/add" enctype="multipart/form-data">

        <label>Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Description</label>
        <textarea id="description" name="description"></textarea><br><br>

        <label>Due Date</label>
        <input type="date" name="dueDate" id="dueDate"> <br><br>

        <label>Price Per Night</label>
        <input type="number" name="price" id="price"> <br><br>
        <br><br>

        <label for="views"><b>Featured Room</b></label>
        <br>
        <input type="text" name="featuredRoom" id="featuredRoom" placeholder="Enter Yes or No"> 
        <br><br>

        <label>File Upload</label>
        <input type="file" name="roomPic" id="roomPic"> <br><br>
        <br><br>

        <input type="submit" value="Add room">

    </form>
