<section class="intro login">

    <h1>Start Your <br> Adventure Now!</h1>

    {{!-- {{#each errors}}
    <div>
        {{this}}
    </div>
{{/each}} --}}

<div>
    <form action="/user/login" method="POST">
    <h2>Login User</h2>
    <input type="text" id="email" name="email" placeholder="Enter your email"><br><br>

    <input type="password" id="password" name="password" placeholder="Enter your password"> <br><br>

    <input type="submit" value="Login" class="btn">
</form>
</div>

</section>