<section class="intro">

    <h1>Start Your <br> Adventure Now!</h1>

</section>

<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
{{user.profilePic}}


<!-- User Profile pic will go here-->
<img src="/uploads/{{user.profilePic}}"> 

<div>
    <a href="/room/list">Task Dashboard </a>
</div>
